body {
	background-color: black;
	background: url('pic/mainmenu1.jpg') fixed;
	font-family: verdana,helvetica,arial,sans-serif;
    font-size: 15px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.menu {
	text-align:center;
	color: #00FF99;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width:100%;
	height:60px;
    top: -10px;
	padding: 0px 0px 0px 0px;
	margin:	0px 0px 0px 0px;
	z-index:10;
}
div.menu li { 
	display: inline;
	padding: 0px 0px 0px 0px;
	margin:	0px 0px 0px 0px;
}
div.menu a {
 	background-image: radial-gradient(black,#007744);
	color: #00FF99;
    padding: 5px 10px;
	text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 150px;
	border: 1px dotted #00FF99;
	margin:	6px 6px 0px 6px;
}
div.menu a:hover {
 	background-image: radial-gradient(black,#00FF99);
    padding: 4px 9px;
	border: 2px solid #00FF99;
}
div.link {
	position: fixed;
    right: 0px;
    top: 0px;
	z-index:11;
}
div.top {
	text-align:center;
	background-color: #000000;
	background: url('pic/mainmenu2.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	height:900px;
	width:100%;
}
div.logo {
	background:transparent url("pic/foelogo.png") no-repeat bottom center;
	width:100%;
	height:300px;
}
div.bottom {
	background:black url("pic/foelogo2.png") no-repeat top center;
	width:100%;
	height:140px;
	bottom: 0px;
	right: 0px;
	z-index:9;
}

div.fon {
	background: black;
}
div.osn {
	position: relative;
	top: -200px;
	border-top: 1px dotted #00FF99;
	text-align: justify;
	color: #00FF99;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 50px 20px 50px;
	background: black;
	width:1000px;
}
div.polos {
	text-align: justify;
	color: #00FF99;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 50px 20px 50px;
	background: black;
	width:1000px;
}
div.chlog {
	white-space: pre-wrap;
	text-align: left;
	color: #00FF99;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 50px 20px 50px;
	background: black;
	width:1000px;
}

h1 {
	text-align:center;
	font-size: 24px;
	padding-bottom:5px;
	text-shadow: 0px 0px 8px #00FF99;
	color:#00FF99;
	clear: both;
	padding-top: 30px;
}
h2 {
    border-top: 2px solid #AAAAAA;
	margin-top:20px;
	padding-top:30px;
	text-align:center;
	font-size: 16px;
}
h3 {
    border-top: 1px solid #EEEEEE;
	margin-top:10px;
	padding-top:20px;
	text-indent:40px;
}
p {
	margin-top:5px;
	text-indent:40px;
}
.ar {
	color:#FFFF66;
}
.que {
	color:#FFFF66;
}
.bur {
	font-size: 120%;
	color:#FFFF66;
}

p.instr {
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	font-style:italic;
	color:#FFFFDD;
}
p.warning{
	background-image: linear-gradient(to left, white, #FFEEEE, white);
	color: #990000;
	text-indent:0px;
    border-bottom: 2px dotted #FF0000;
    border-top: 2px dotted #FF0000;
    margin: 15px 40px;
    padding: 5px;
}
.dom {
	font-size: 18px;
    color: #FFFF66;
    font-weight:bold;
	text-shadow: 0px 0px 5px #FFAA00;
}
.floatleft {
	padding-right: 50px;
	padding-left: 50px;
    float: left;
}
.floatright {
	padding-left: 50px;
    float: right;
}

a {
    color: #FFFF00;
    font-weight:bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
    color: #CCСС00;
}
div.gall {
	text-align:center;
	padding: 0px;
	margin:	0px;
}

div.lat {
	position: relative;
    bottom: 53px;
	left: 320px;
	background-image: url('pic/of.png');
	height:18px;
	width:0px;
}

#largeImg {
	border: 2px solid black;
	width: 958px;
	height: 495px;
	padding: 0px;
}
#thumbs a {
  float1: left;
  width: 100px;
  height: 100px;
}
#thumbs img {
  border: dotted 1px #00FF99;
  padding: 1px;
  margin: 3px;
  width: 100px;
  height: 52px;
}
#thumbs img:hover {
  border: solid 2px #00FF99;
  padding: 0px;
}
#thumbs li {
	display: inline;
}
#thumbs {
  margin: 0;
  padding: 0;
}

body.news{
	background-color: #000000;
	background: url('pic/mane.jpg') fixed;
	font-family: verdana,helvetica,arial,sans-serif;
    font-size: 15px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
a.da {
  padding-left: 30px;
  background-position: top right;
  background-image: url("pic/da2.png");
  background-repeat: no-repeat;
}
